
@{
    ViewData["Title"] = "Account";
}

<head>
    <title>Account</title>
</head>
<body>
    <div id="content" class="div-account"></div>
</body>

@section Scripts {
    <script src="~/js/dist/account-bundle.js"></script>
}

