
@{
    ViewData["Title"] = "AllGames";
}
<html>
<head>
    <title>View All Games</title>
</head>
<body>
    <h1>All Games</h1>
    <!-- probably a table of some sort containing all the games, with ability to filter-->
    <!-- checkout a bootstrap table with filters!!!! -->
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">ESRB Rating<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">E</a></li>
                <li><a href="#">E10+</a></li>
                <li><a href="#">T</a></li>
                <li><a href="#">M</a></li>
                <li><a href="#">RP</a></li>
            </ul>
        </div>
    </div>
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Publishing Studio</th>
                    <th>Date</th>
                    <th>Genre</th>
                    <th>ESRB Rating</th>
                    <th>Platforms</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

