
@{
    ViewData["Title"] = "AllGames";
}
<html>
<head>
    <title>View All Games</title>
</head>
<body>
    <div id="content" />
</body>
</html>


@section Scripts {
    <script src="~/js/dist/viewAll-bundle.js"></script>
}