
@{
    ViewData["Title"] = "AllGames";
}
<html>
<head>
    <title>View All Games</title>
</head>
<body>
    <h1 class="text-center">All Games</h1>
    <!-- probably a table of some sort containing all the games, with ability to filter-->
    <!-- checkout a bootstrap table with filters!!!! -->
        
        
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Publishing Studio</th>
                    <th>Date</th>
                    <th>Genre</th>
                    <th>ESRB Rating</th>
                    <th>Platforms</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>

