
@{
    ViewData["Title"] = "AllGames";
}
<html>
<head>
    <title>View All Games</title>
</head>
<body>
    <h1>All Games</h1>
    <!-- probably a table of some sort containing all the games, with ability to filter-->
    <!-- checkout a bootstrap table with filters!!!! -->
</body>
</html>

