
@{
    ViewData["Title"] = "Login";
}

<head>
    <title>Login</title>
</head>
<body>
    <div id="content" class="div-login"></div>
</body>

@section Scripts {
    <script src="~/js/loginPage.jsx"></script>
}